development:
  secret_key_base: <%= SecureRandom.hex(64) %>
  host: 'http://localhost:3000'
  redis_url: redis://localhost
test:
  secret_key_base: <%= SecureRandom.hex(64) %>
  host: 'http://localhost:4000'
  github:
    oauth:
  redis_url: redis://localhost
production:
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>
  host: <%= ENV['SHIPIT_HOST'] %>
  github_api:
    access_token: <%= ENV['GITHUB_API_TOKEN'] %>
  github:
    app_id: <%= ENV['GITHUB_APP_ID'] %>
    installation_id: <%= ENV['GITHUB_INSTALLATION_ID'] %>
    webhook_secret: <%= ENV['GITHUB_WEBHOOK_SECRET'] %>
    private_key: |
      <%= ENV.fetch('GITHUB_PRIVATE_KEY', "").gsub("\n", "\n      ") %>
    oauth:
      id: <%= ENV['GITHUB_OAUTH_ID'] %>
      secret: <%= ENV['GITHUB_OAUTH_SECRET'] %>
      teams:
        - rubygems/deployers
    domain:
  redis_url: <%= ENV['REDIS_URL'] %>
  env:
    HOME: '<%= ENV['SHIPIT_HOME_DIR'] %>'
